@charset "utf-8";

body {
    padding-top: 100px;
    font-size: 120%;
}

.navbar-brand a {
    color:rgba(0, 0, 0, .9);
    text-decoration-line: none;
}

.bg-container {
    padding-top: 3em;
    padding-bottom: 3em;
}

#logo {
    width: 260px;
}

main .container ul li {
    margin-top: 1em;
}

main .container ul li.sub {
    margin-top: 0;
}

#projects .follows {
    font-size: 80%;
}

#foundation dl dt {
    margin-top: 1em;
}
#foundation dl dd {
    margin-left: 5em;
}

#footer {
    padding-top: 1em;
    padding-bottom: 1em;
}
