@charset "utf-8";

body {
    padding-top: 100px;
    font-size: 100%;
}

.h3, h3 {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    body {
        font-size: 120%;
    }

    .h3, h3 {
        font-size: 1.75rem;
    }
}

.navbar-brand a {
    color:rgba(0, 0, 0, .9);
    text-decoration-line: none;
}

.bg-container {
    padding-top: 3em;
    padding-bottom: 3em;
}

#logo {
    width: 260px;
    padding: 15px 5px;
}

#navbarMenu .link {
    padding: 0 0.68em 0 0;
    color: black;
}

#navbarMenu .link:last-child {
    padding: 0;
}

main .container ul {
    margin-bottom: 1em;
}

main .container ul li {
    margin-top: 1em;
}

.border-table td {
    border: 1px solid #999;
    padding: 0.2em 0.4em;
}

#projects .follows {
    font-size: 80%;
}

.person-list th {
    border: 1px solid #999;
    padding: 0.4em 1em;
    text-align: center;
}

.person-list td {
    border: 1px solid #999;
    padding: 0.4em 1em;
}

.athlete-guide h5 {
    margin-top: 1em;
}

.athlete-guide .container ul li {
    margin-top: 0.2em;
}

.athlete-guide td:first-child {
    width: 10em;
}

.program-header {
    display: inline-block;
    width: 8em;
}

.program-row {
    height: 2rem;
}

#foundation dl dt {
    margin-top: 1em;
}
#foundation dl dd {
    margin-left: 5em;
}

#footer {
    padding-top: 1em;
    padding-bottom: 1em;
}

#footer p.sns {
    text-align: center;
    margin-bottom: 2em;
}

.btn.twitter-x {
    padding: 0.4em 0.5em;
}
